﻿{% load staticfiles %}

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="{% static 'diabete/stylesheet.css' %}"/>
		<title>Диабет</title>
	</head>
	<body>
	{% block max_index %}
	<div id="hiddencontent" products_num={{products_for_select.all.count}}></div>
	{% endblock %}
		<div class="header">
			<div class="container">
				<ul class="menu">
					<li><a href="#">Регистрация</a></li>
					<li><a href="#">Войти</a></li>
				</ul>
			</div>
		</div>
		<div id="main">
			<div class="inset active-inset">
				<a href="#">Расчет</a>
			</div>
			<div class="inset">
				<a href="#">Любимые продукты</a>
			</div>
			<div class="slide active-slide">
				<form method="post" action="{% url 'diabete:result' %}">
				{% csrf_token %}
					<div class="selector">
						<input list="product" id="product_selected" placeholder="Выберите продукт">
						<datalist id="product">
							{% for product in products_for_select.all %}
								<option data-id="{{ product.id }}" data-carb="{{ product.product_carb }}" data-gi="{{ product.product_GI }}" value="{{ product.product_name }}">
							{% endfor %}
						</datalist>
					</div>
					<div class="selector">
						<a href="#" id="adding"><button type="button">Добавить</button></a>
					</div>
					<div class="selector">
						<a href="#" id="adding_new"><button type="button">Добавить новый продукт</button></a>
					</div>
					{% block coef %}
					<p><B>Введите ваш коэффициент (ед. инсулина/ХЕ, ХЕ=12г углеводов):</B> <input type=text name="coef" value=0 maxlength=4 size=4 style="text-align:center"></p>
					{% endblock %}
					<table class="table">
						<thead>
							<th colspan="4">Выбранные продукты</th>
						</thead>
						<tbody>
							<tr>
								<td><span class="fat">Продукт</span></td>
								<td><span class="fat">ГИ</span></td>
								<td><span class="fat">Углеводы</span></td>
								<td><span class="fat">Граммы</span></td>
							</tr>
						{% block main %}
						{% endblock %}
						</tbody>
					</table>
					<p><input type=Submit value=Рассчет>
				</form>
			{% block result %}
			{% endblock %}
			</div>
			
			<div class="slide">
				
			</div>
		</div>
		<script src="{% static 'diabete/jquery.min.js' %}"></script>
		<script src="{% static 'diabete/diabete.js' %}"></script>
	</body>
</html>

	