﻿{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ 'Диабет' |default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ 'Диабет'|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
