﻿{% extends "diabete/base.html" %}{% load staticfiles %}

{% block title %}О сайте{% endblock %}
	
{% block description %}
<meta name="keywords" content="он-лайн, диабет, калькулятор, инсулин, углевод, доза, расчет, продукт, дневник, самоконтроль, контроль, уровень, сахар, кровь, функционал, организм, прием, пища, ведение, опция, любимый, список, действие, сахарный, пожелание, предложение, электронный, почта, контакт">
<meta name="description" content="Сайт tvoy-diabete.ru предназначен для того, чтобы помогать людям с диабетом контролировать уровень сахара в крови. Функционал сайта включает в себя он-лайн калькулятор дозы инсулина и ведение дневника самоконтроля.">
{% endblock %}	

{% block slides %}
<div class="slide usual-slide active-slide">
	<h2 style="margin:5px 0px 5px 0px">О сайте</h2>
	<p style="font-size:20; margin-top: 5px"><img src="{% static 'diabete/about.jpg' %}" alt="Диабет" class="leftimg">
Сайт tvoy-diabete.ru предназначен для того, чтобы помогать людям с диабетом контролировать уровень сахара в крови. Функционал сайта включает в себя:
<ul style="font-size:20;margin-left:280px">
	<li> калькулятор дозы инсулина, которую необходимо ввести в организм перед приемом пищи.</li>
	<li>  	ведение дневника самоконтроля</li>
</ul>
	
<p style="font-size:20">После прохождения регистрации пользователь сможет воспользоваться опциями "Любимые продукты" для составления своего собственного списка продуктов и "Дневник" для ведения дневника самоконтроля. 	

<p style="font-size:20">Сайт обладает интуитивно понятным интерфейсом и автоматизирует основные действия, которые выполняет человек с сахарным диабетом. Пожелания и предложения по работе сайта Вы можете отправлять на электронную почту, указанную на странице "Контакты". Не стесняйтесь, приветствуется любая обратная связь.

<p style="font-size:20">Держите свой диабет в узде!</p>
</div>
{% endblock %}

	