{% load staticfiles %}{% load diabete_extras %}<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		{% block description %}{% endblock %}
		<link rel="shortcut icon" href="{% static 'diabete/favicon.ico' %}" type="image/x-icon">
		<link type="text/css" rel="stylesheet" href="{% static 'diabete/stylesheet.css' %}"/>
		<link type="text/css" rel="stylesheet" href="{% static 'diabete/chosen.css' %}"/>
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<div class="header">
			<h3 style="float:right;margin-top:0px">
			{% if user.is_authenticated %}Добро пожаловать, {{ user.username }}.{% else %}Добро пожаловать на tvoy-diabete.ru{% endif %}	
			</h3>
			<div class="container" style="clear:both">
				<ul class="menu-right">
					{% if user.is_authenticated %}
						<li><a href="{% url 'diabete:logout' %}">Выйти</a></li>
					{% else %}
						<li><a href="{% url 'diabete:register' %}">Регистрация</a></li>
						<li><a href="{% url 'diabete:login' %}?next=/">Войти</a></li>
					{% endif %}				
				</ul>
				<ul class="menu-left">
					<li><a href="{% url 'diabete:index' %}">Главная</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'diabete:fav_products' %}">Любимые продукты</a></li>
					<li><a href="{% url 'diabete:diary' %}?date=today">Дневник</a></li>
					{% endif %}
					<li><a href="{% url 'diabete:video' %}">Обучающее видео</a></li>				
				</ul>
			</div>
		</div>
		<div id="main">
			{% block slides %}{% endblock %}
		</div>
		<div id="footer">
			<ul class="menu-left">
				<li><a href="{% url 'diabete:about' %}">О сайте</a></li>
				<li><a href="{% url 'diabete:contacts' %}">Контакты</a></li>
			</ul>
		</div>
		{% block max_index %}{% endblock %}
		<script src="{% static 'diabete/jquery.min.js' %}"></script>
		<script src="{% static 'diabete/diabete.js' %}"></script>
		
		<script src="{% static 'diabete/chosen.jquery.min.js' %}"></script>
		<script type="text/javascript">
			$('.chosen-select').chosen();
		</script>
		<!--<script src="http://ie.microsoft.com/testdrive/HTML5/CompatInspector/inspector.js"></script>-->
		<script type="text/javascript">
<!--
function cloneAndCopy(nodeId, tonodeId, deep)
{
var toClone = document.getElementById(nodeId);
var clonedNode = toClone.cloneNode(deep);
var insertPoint = document.getElementById(tonodeId);
insertPoint.appendChild(clonedNode);
}
//cloneAndCopy('product-select-calc','product-select-fav',true);
//-->
	</script>
	</body>
</html>
