﻿{% extends "diabete/base.html" %}{% load staticfiles %}

{% block title %}Контакты{% endblock %}
{% block description %}
<meta name="keywords" content="Бабинцев, Алексей, разработчик, контакт, диабет, support, tvoy-diabete">
<meta name="description" content="Контакты сайта tvoy-diabete.ru">
{% endblock %}	

{% block slides %}
<div class="slide usual-slide active-slide">
	<h2 style="margin:5px 0px 5px 0px">Контакты</h2>
	<p style="font-size:20; margin-top: 5px"><img src="{% static 'diabete/contacts.jpg' %}" alt="Диабет" class="leftimg">
Разработчик ресурса: Бабинцев Алексей
<p style="font-size:20">e-mail: admin@tvoy-diabete.ru</p>
<p style="font-size:20">Буду рад любым вашим отзывам, пожелания и предложениям.

</div>
{% endblock %}

	