﻿{% extends "diabete/base.html" %}
{% load i18n %}{% load diabete_extras %}

{% block title %}Дневник{% endblock %}

{% block slides %}
<div id="hiddencontent" year="{{year}}" month="{{month}}" day="{{day}}"></div>
<div class="slide usual-slide active-slide">

<table id="calendar2">
  <thead>
    <tr><td>‹<td colspan="5"><td>›
    <tr><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
  <tbody>
</table>

<h1 style="text-align: center; margin-top: 0px; margin-bottom: 20px;float:right;width: 78%;">{% trans note_date %}</h1>
<div id="diary-note">
	
	{% if current_note_diary_day == None %}
		<h2 style="text-align: center; margin-top: 15px">На указанную дату нет ни одной записи.</h2>
	{% elif current_note_diary_day.note_diary_set.all.count == 0 %}
		<h2 style="text-align: center; margin-top: 15px">На указанную дату нет ни одной записи.</h2>
	{% else %}
		{% for note in current_note_diary_day.note_diary_set.all|dictsort:"name" %}
			<div class="table-container">
				<table>
					<thead>
						<th width=420 colspan="4">Время записи: {{note.name}}</th>
					</thead>
					<tbody>
						{% if note.note_diary_product_set.all.count > 0 %}
						<tr>
							<td width=200><span class="fat">Продукт</span></td>
							<td width=50><span class="fat">ГИ</span></td>
							<td width=80><span class="fat">Углеводы</span></td>
							<td width=80><span class="fat">Масса</span></td>
						</tr>
						{% endif %}
						{% for product in note.note_diary_product_set.all %}
							<tr>
								<td>{{ product.product_name }}</td>
								<td>{{ product.product_GI }}</td>
								<td>{{ product.product_carb }}</td>
								<td>{{ product.product_mass }}</td>
							</tr>							
						{% endfor %}
						<tr>
							<td colspan="2" class="green-cell"><B>Всего углеводов: {{note.total_carb}} г</B></td>
							<td colspan="2" class="green-cell"><B>Инсулин: {{note.dose}} ед.</B></td>
						</tr>
						<tr>
							<td colspan="4" class="red-cell"><B>Уровень сахара: {{note.glu_level}} ммоль/л</B></td>
						</tr>
					</tbody>
				</table>
				<form id="edit_note{{note.id}}" method="post" action="{% url 'diabete:edit_note' %}">
				{% csrf_token %}
				<input type=hidden value="{{note.id}}" name="note_id">
				<input type=hidden value="{{current_note_diary_day.id}}" name="note_diary_day_id">
				<div style="position:relative">
				
					<p style="margin-top:2px">
						<button class="btn_del_note" type="button">Удалить</button>
						<input class="pointer" type=Submit name="btn_edit_note" value="Редактировать" form="edit_note{{note.id}}">
						<input class="pointer" type=Submit name="btn_template" value="Использовать как шаблон" form="edit_note{{note.id}}">
					</p>
					<div class="yes_no_window">
						<p style="margin:0px 2px 10px 2px ;">Вы уверены, что хотите удалить запись?</p>
						<p style="margin:0px 2px 5px 80px">
							<input class="pointer" type=Submit name="btn_delete_note" value="Да" form="edit_note{{note.id}}">
							<button class="no_window" type="button" style="margin-left:40px">Нет</button>
						</p>
					</div>
				
				</div>
				</form>
			</div>
		{% endfor %}
	{% endif %}
	
</div>

</div>
{% endblock %}