﻿{% extends "diabete/base.html" %}

{% block title %}Любимые продукты{% endblock %}

{% block max_index %}
	<div id="hiddencontent" products_num={{products_for_select.all.count}}></div>
	<div id="num_users_fav_products" products_num={{users_fav_products.all.count}}></div>
{% endblock %}

{% block slides %}
{% if user.is_authenticated %}
<div class="slide usual-slide active-slide">
	<div class="selector" id="product-select-calc">
		<select data-placeholder="Выберете продукт" style="width:400px;" id="product" name=product class="chosen-select">
			<option value=""></option>
				{% for product in products_for_select.all %}			
					<option id="{{ product.id }}" GI="{{ product.product_GI }}" carb="{{ product.product_carb }}" value="{{ forloop.counter0 }}">{{ product.product_name }}		
				{% endfor %}
		</select>
	</div>
	<div class="selector">
		<a href="#" class="adding_to_fav"><button type="button">Добавить к любимым продуктам</button></a>
	</div>
	<div class="left-table" style="height: 90%">
		<div class="table-container">
			<form id="chosen-fav-products" method="post" action="{% url 'diabete:adding_to_fav' %}">
			{% csrf_token %}
				<table class="table" id="table-chosen-fav-products">
					<thead>
						<th colspan="3">Новые любимые продукты</th>
					</thead>
					<tbody>
						<tr>
							<td width=200><span class="fat">Продукт</span></td>
							<td width=50><span class="fat">ГИ</span></td>
							<td width=80><span class="fat">Углеводы</span></td>							
						</tr>
					</tbody>
				</table>
				<p><input class="pointer" type=Submit value="Подтвердить"  form="chosen-fav-products">
				<a href="#" class="adding_new_to_fav"><button type="button">Создать новый продукт</button></a>
			</form>
		</div>
	</div>
	<div class="right-table" style="height: 90%; width: 52%">
		<div class="table-container">
			<form id="users-fav-products" method="post" action="{% url 'diabete:delete_fav' %}">
			{% csrf_token %}
				<table class="table" id="table-users-fav-products">
					<thead>
						<th colspan="4">Любимые продукты</th>
					</thead>
					<tbody>
						<tr>
							<td width=200><span class="fat">Продукт</span></td>
							<td width=50><span class="fat">ГИ</span></td>
							<td width=80><span class="fat">Углеводы</span></td>		
							<td width=80><span class="fat"><a class="select-all" href="#">Выбрать</a></span></td>
						</tr>
						{% for product in users_fav_products.all %}
							<tr>
								<td id="product_name{{ forloop.counter0 }}">{{ product.product_name }}</td>
								<td id="product_GI{{ forloop.counter0 }}">{{ product.product_GI }}</td>
								<td id="product_carb{{ forloop.counter0 }}">{{ product.product_carb }}</td>
								<td><input id="check{{ forloop.counter0 }}" type="checkbox" name="{{ product.product_name }}"/></td>
							</tr>							
						{% endfor %}
					</tbody>
				</table>
				<p><input class="pointer" type=Submit value="Удалить выбранное"  form="users-fav-products">
				<a href="#" class="edit_fav_products"><button type="button">Редактировать выбранное</button></a>
			</form>
		</div>
	</div>
</div>
{% else %}
<h2>Только зарегистрированные пользователи могут заходить на эту страницу.</h2>
{% endif %}
{% endblock %}