﻿{% extends "diabete/base.html" %}
{% block description %}
<meta name="keywords" content="он-лайн, диабет, калькулятор, инсулин, углевод, доза, расчет, продукт, масса">
<meta name="description" content="Он-лайн калькулятор дозы инсулина, которую необходимо ввести в организм перед приемом пищи.">
{% endblock %}
{% block title %}Диабет{% endblock %}


{% block max_index %}
	<div id="hiddencontent" products_num={{products_for_select.all.count}}></div>
{% endblock %}

		{% block slides %}
			<!--<div class="inset usual-inset active-inset">
				<a href="#" class="usual_btn">Расчет</a>
			</div>
			<div class="inset fav-inset">
				<a href="#" class="favorite_btn">Любимые продукты</a>
			</div>-->
			<div class="slide usual-slide active-slide">
					<div class="selector" id="product-select-calc">
						<select data-placeholder="Выберете продукт" style="width:400px;" id="product" name=product class="chosen-select">
							<option value=""></option>
							{% for product in products_for_select.all %}
								
								<option id="{{ product.id }}" GI="{{ product.product_GI }}" carb="{{ product.product_carb }}" value="{{ forloop.counter0 }}">{{ product.product_name }}
							
							{% endfor %}

						</select>
					</div>
					<div class="selector">
						<a href="#" class="adding"><button type="button">Добавить</button></a>
					</div>				
					{% if user.is_authenticated %}
					<p>
					<div class="selector">
						<select data-placeholder="Выберете любимый продукт" style="width:400px;" id="fav-product" name=fav-product class="chosen-select">
							<option value=""></option>
							{% for product in user.favorite_product_set.all|dictsort:"product_name" %}
								
								<option id="{{ product.id }}" GI="{{ product.product_GI }}" carb="{{ product.product_carb }}" value="{{ product.product_name }}">{{ product.product_name }}
							
							{% endfor %}

						</select>
						<div class="selector">
							<a href="#" class="adding-fav"><button type="button">Добавить</button></a>
						</div>
						<!--<div class="selector">
							<input type=Submit value="Удалить из списка"  form="delete-fav-product">
						</div>
					</form>-->
					</div>
					
					</p>
					{% endif %}
					{% block coef %}
					<p style="margin-bottom:0px"><B>Введите ваш коэффициент (ед. инсулина/ХЕ, ХЕ=12г углеводов):</B> <input type=text name="coef" value=0 maxlength=4 size=4 style="text-align:center" form="chosen-products"></p>
					{% endblock %}
				
				<div class="left-table" style="height: 68%; width: 60%">
				<div class="table-container">
				<form id="chosen-products" method="post" action="{% url 'diabete:result' %}">
				{% csrf_token %}
					
					<table class="table" id="table-chosen-products">
						<thead>
							<th colspan="4">Выбранные продукты</th>
						</thead>
						<tbody>
							<tr>
								<td width=200><span class="fat">Продукт</span></td>
								<td width=50><span class="fat">ГИ</span></td>
								<td width=80><span class="fat">Углеводы</span></td>
								<td width=80><span class="fat">Масса</span></td>
							</tr>
						{% block main %}
						{% endblock %}
						</tbody>
					</table>
					
					<p><input class="pointer" type=Submit name="calc" value=Расчет form="chosen-products">
					<a href="#" class="adding_new"><button type="button">Создать продукт</button></a>
					
				</form>
				</div>
				</div>
				<div class="right-table" style="height: 68%; width: 38%; overflow-y: visible;">
				{% block result %}
				{% endblock %}
				</div>
			<div id="under-table">
	
			</div>
			</div>
			
			<div class="slide fav-slide">
				{% if user.is_authenticated %}
					<div id="product-select-fav">
					</div>
				{% else %}
					<p>Войдите на сайт, чтобы воспользоваться опцией "Любимые продукты"</p>
				{% endif %}	
			</div>
		{% endblock %}

	