﻿{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block content_title %}{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'diabete:index' %}">На главную</a>
</div>
{% endblock %}

{% block content %}
{% if form.errors %}
<p>Неправильные имя пользователя или пароль.</p>
{% endif %}

<div id="content-main">
<form action="{% url 'diabete:login' %}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    <label for="id_username" class="required">{{ form.username.label_tag }}:</label> {{ form.username }}
  </div>
  <div class="form-row">
    {{ form.password.errors }}
    <label for="id_password" class="required">{{ form.password.label_tag }}</label> {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
