﻿{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block content_title %}{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'diabete:index' %}">На главную</a>
</div>
{% endblock %}

{% block content %}
{% if form.errors %}
<p>Ошибка регистрации.</p>
{% endif %}

<div id="content-main">
<form action="{% url 'diabete:register' %}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    <label for="id_username" class="required">{{ form.username.label_tag }}</label> <p>{{ form.username }}</p>
  </div>
  <div class="form-row">
  {{ form.email.errors }}
    <label for="id_email" class="required">{{ form.email.label_tag }}</label> <p>{{ form.email }}</p>
  </div>
  <div class="form-row">
    {{ form.password1.errors }}
    <label for="id_password1" class="required">{{ form.password1.label_tag }}</label> <p>{{ form.password1 }}</p>
  </div>
  <div class="form-row">
    {{ form.password2.errors }}
    <label for="id_password2" class="required">{{ form.password2.label_tag }}</label> <p>{{ form.password2 }}</p>
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Регистрация" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
