﻿{% extends "diabete/index.html" %}


{% block max_index %}
	<div id="hiddencontent" products_num={{products_max_index}}></div>
{% endblock %}

{% block coef %}

<p style="margin-bottom:0px"><B>Введите ваш коэффициент (ед. инсулина/ХЕ, ХЕ=12г углеводов):</B> <input type=text name="coef" value="{{coef}}" maxlength=4 size=4 style="text-align:center" form="chosen-products"></p>

{% endblock %}

{% block main %}

	{% for product in products %}
		<tr>
			<td>{{ product.0 }}</td>
			<td><input type=text value="{{ product.1 }}" name=product_GI{{ product.4 }} maxlength=4 size=4 style="text-align:center"></td>
			<td><input type=text value="{{ product.2 }}" name=product_carb{{ product.4 }} maxlength=4 size=4 style="text-align:center"></td>
			<td><input type=text value="{{ product.3 }}" name=product_mass{{ product.4 }} maxlength=4 size=4 style="text-align:center"></td>
			<td class="no_border"><button class="btn_del_product" type="button">удалить</button></td>
			<input type=hidden value="{{ product.0 }}" name=product_name{{ product.4 }}>
		</tr>
		
	{% endfor %}
	
{% endblock %}

{% block result %}
{% if edit_note_diary %}
	<input type=hidden value="{{edit_note_diary}}" name="edit_note_diary" form="chosen-products">
	<input type=hidden value="{{note_diary_day_id}}" name="note_diary_day_id" form="chosen-products">
	<input type=hidden value="{{note_diary_id}}" name="note_diary_id" form="chosen-products">
{% endif %}
{% if error_message_cant_calculate %}
	<p><B>{{error_message_cant_calculate}}</B></p>
	<div style="display:none">
{% elif error_message_diary %}
	<p><B>{{error_message_diary}}</B></p>
	<div style="display:none">
{% else %}
	<div>
{% endif %}
	<p style="margin-top:0px"><B>Всего углеводов: {{total_carb}} г</B></p>
	<p><B>Необходимая доза инсулина: {{dose}} ед.</B></p>
	{% if user.is_authenticated %}
	<p><B>Введенная доза инсулина: </B><input type=text name="dose" value={{dose_by_user|default:"0.0"}} maxlength=4 size=4 style="text-align:center" form="chosen-products"></p>
	<p><B>Уровень сахара(ммоль/л): </B><input type=text name="glu_level" value={{glu_level|default:"0.0"}} maxlength=4 size=4 style="text-align:center" form="chosen-products"></p> 
	<p><div class="selector"><B>Время: </B></div>
	<div class="selector">
		<select style="width:65px;" id="year" name=year class="chosen-select" form="chosen-products">
			{% for year in years %}		
				{% if year == time.year %}	
					<option selected value="{{year}}">{{year}}		
				{% else %}
					<option value="{{year}}">{{year}}
				{% endif %}
			{% endfor %} 
		</select>
	</div>
	<div class="selector">
		<select style="width:90px;" id="month" name=month class="chosen-select" form="chosen-products">
			{% for month in months %}		
				{% if forloop.counter == time.month %}	
					<option selected value="{{forloop.counter}}">{{month}}		
				{% else %}
					<option value="{{forloop.counter}}">{{month}}
				{% endif %}
			{% endfor %} 
		</select>
	</div>
	<div class="selector">
		<select style="width:55px;" id="day" name=day class="chosen-select" form="chosen-products">
			{% for day in days %}		
				{% if forloop.counter == time.day %}	
					<option selected value="{{day}}">{{day}}		
				{% else %}
					<option value="{{day}}">{{day}}
				{% endif %}
			{% endfor %} 
		</select>
	</div>
	<p>
	<div class="selector" style="margin-left:60px">
		<select style="width:55px;" id="hour" name=hour class="chosen-select" form="chosen-products">
			{% for hour in hours %}		
				{% if forloop.counter0 == time.hour %}	
					<option selected value="{{hour}}">{{hour}}		
				{% else %}
					<option value="{{hour}}">{{hour}}
				{% endif %}
			{% endfor %} 
		</select>
	</div>
	<div class="selector">ч </div>
	<div class="selector">
		<select style="width:55px;" id="minute" name=minute class="chosen-select" form="chosen-products">
			{% for minute in minutes %}		
				{% if forloop.counter0 == time.minute %}	
					<option selected value="{{minute}}">{{minute}}		
				{% else %}
					<option value="{{minute}}">{{minute}}
				{% endif %}
			{% endfor %} 
		</select>
	</div>
	<div class="selector">мин </div>
	<div class="selector">
		<select style="width:55px;" id="second" name=second class="chosen-select" form="chosen-products">
			{% for second in seconds %}		
				{% if forloop.counter0 == time.second %}	
					<option selected value="{{second}}">{{second}}		
				{% else %}
					<option value="{{second}}">{{second}}
				{% endif %}
			{% endfor %} 
		</select>
	</div>
	<div class="selector">сек </div>
	{% if edit_note_diary %}
	<p><input class="pointer" type=Submit name="diary" value="Подтвердить редактирование" form="chosen-products"></p>
	{% else %}
	<p><input class="pointer" type=Submit name="diary" value="Добавить запись в дневник" form="chosen-products"></p>
	{% endif %}	
	{% else %}
	<p><B>Зарегистрируйтесь, чтобы воспользоваться опциями "Любимые продукты" и "Дневник".</B></p>
	{% endif %}
</div>
{% endblock %}