{% extends "diabete/base.html" %}{% load staticfiles %}

{% block title %}Обучающее видео{% endblock %}
{% block description %}
<meta name="keywords" content="обучающий, видео, он-лайн, диабет, калькулятор, инсулин, углевод, доза, расчет, продукт, дневник, самоконтроль, контроль, уровень, сахар, кровь, функционал, организм, прием, пища, ведение, опция, любимый, список, действие, сахарный, пожелание, предложение, электронный, почта, контакт">
<meta name="description" content="Обучающее видео интернет-ресурса tvoy-diabete.ru">
{% endblock %}	

{% block slides %}
<div class="slide usual-slide active-slide">
	<div style="margin: 0 0 0 126px;"><iframe width="708" height="400" src="//www.youtube.com/embed/ixleqWSpRDM" frameborder="0" allowfullscreen></iframe></div>
</div>
{% endblock %}

	